$background-color-base: #fff;
$background-color-second: #f6f5f4;

$border-color: #ecebea;

* {
    box-sizing: border-box;
}

@media screen {
  font-family: "Otterco Display Medium", "Otterco Display Medium Placeholder", sans-serif;
}